<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <br>
        <input type="text"
               class="form-control"
               placeholder="username"/>
               <br>
        <input type="password"
               class="form-control"
               placeholder="password"/>
               <br>
        <input type="password"
               class="form-control"
               placeholder="verify password"/>
               <br>
        <a class="btn btn-success btn-block" href="#/register">
          Register</a>
        <a class="btn btn-primary btn-block" ng-click="model.login(user)">
            Login</a>
    </div>
</body>