<body>
    <div class="container">
        <h1>Register</h1>
        <br>
        <input ng-model="model.user.firstName"
           type="text"
           class="form-control"
           placeholder="First Name"/>
               <br>
        <input ng-model="model.user.lastName"
           type="text"
           class="form-control"
           placeholder="Last Name"/>
               <br>
        <input ng-model="model.user.email"
           type="text"
           class="form-control"
           placeholder="E-mail"/>
                <br>
        <input ng-model="model.user.username"
           type="text"
           class="form-control"
           placeholder="Username"/>
                <br>
        <input ng-model="model.user.password"
           type="password"
           class="form-control"
           placeholder="Password"/>
                <br>
        <input ng-model="model.user.confirmPassword"
           type="password"
           class="form-control"
           placeholder="Confirm Password Again"/>
                <br>
        <a class="btn btn-primary btn-block" ng-click="model.register(user)">
            Register</a>
        <a class="btn btn-danger  btn-block" href="#/">
            Cancel</a>
    </div>
</body>
