input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

nav {
    background-color: lightblue;
}

.top-buffer {
    margin-top: 30px;
}

.widget {
    z-index: 0;
    padding-bottom: 8px;
}

.widget-controls {
    position: absolute;
    right: 0;
    margin-right: 15px;
    border-radius: 0 0 0 10px;
    background-color: lightblue;
    z-index: 2;
    padding: 5px;
}