<h1>Header Widget Editor</h1>

<form>
    <div class="form-group">
        <label for="header-text">Text</label>
        <input ng-model="model.widget.text"
               type="text"
               class="form-control"
               id="header-text"
               placeholder="Description text here">
    </div>
    <div class="form-group">
        <label for="header-width">Size</label>
        <input ng-model="model.widget.size"
               type="text"
               class="form-control"
               id="header-width"
               placeholder="ex: 5">
    </div>
</form>