<h1>Youtube Widget Editor</h1>

<form>
    <div class="form-group">
        <label for="video-url">Youtube Link</label>
        <input ng-model="model.widget.url"
               type="text"
               class="form-control"
               id="video-url">
    </div>
    <div class="form-group">
        <label for="video-width">Width</label>
        <input ng-model="model.widget.width"
               type="text"
               class="form-control"
               id="video-width"
               placeholder="80">
    </div>
</form>