<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Widgets</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-normal navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus">
                    </span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">
                Widgets
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid" ng-repeat="widget in widgets">
    <div class="widget" ng-switch-when="widget.type === 'HEADING'">
        <div class="widget-controls">
            <a href="widget-heading.view.client.html">
                  <span class="glyphicon glyphicon-cog"></span>
            </a>
            <a href="#">
                  <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
        </div>
        <h1>Puppies</h1>
    </div>
    <div class="widget">
        <div class="widget-controls pull-right">
            <a>
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <a href="#">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
        </div>
        <h4>Studies show that puppies can cure all illnesses!</h4>
    </div>
    <div class="widget" ng-switch-when="widget.type === 'IMAGE'">
        <div class="widget-controls pull-right">
            <a href="widget-heading.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <a href="#">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
        </div>
        <img width="100%" height="100%" src="https://lh6.googleusercontent.com/-mE2JtL5ibQY/AAAAAAAAAAI/AAAAAAAABoQ/zKa7zdTBz2M/photo.jpg"/>
    </div>
    <div class="widget">
        <div class="widget-controls pull-right">
            <a>
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <a href="#">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
        </div>
        <p>The origin of the modern French Bulldog breed descends directly from the dogs of the Molossians, an ancient Greek tribe. The dogs were spread throughout the ancient world by Phoenician traders. British Molossian dogs were developed into the Mastiff. A sub-family of the Mastiff were the Bullenbeisser, a type of dog used for bull-baiting. -Wikipedia
        </p>
    </div>
    <div class="widget">
        <div class="widget-controls pull-right">
            <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <a href="#">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
        </div>
        <br>
        <h4>Cutest Frenchies</h4>
    </div>
    <div class="widget" ng-switch-when="widget.type === 'YOUTUBE'">
        <div class="widget-controls pull-right">
            <a href="widget-heading.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <a href="#">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
        </div>
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/A1DbRhdyfJY"></iframe>
    </div>
</div>
</body>

<nav class="navbar navbar-normal navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/profile/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>